.jumbotron {
    z-index: 10;
    background-color:rgba(109, 181, 212, 0.76);
    border: 1px solid rgba(73, 162, 195, 0.87);
}

/*
.container {
    border-radius: 5%;
    border: 1px solid black;
    background-color: hsla(200, 79%, 60%, 0.2);
    margin: 10px;
    height: 500px;
    width: 400px;
}
*/


.diamond {
    padding: 10px;
    margin-top: 175px;
    
}

#white{
    margin-left: 45px;
}


body{
    z-index: -10;
    background-image: url(../images/background.jpg)
};

